body {
    margin: 0;
    padding: 0;
    font-family: roboto;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    columns: #000000;
    ;
}

.fade-in {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

label {
    font-size: 20px;
    color: #000;
}


/*.image {
    position: absolute;
    bottom: -10%;
    right: 30%;
    height: 40rem;
    object-fit: contain;
}*/


/* Full-width inputs */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 16px 12px;
    margin: 15px 0;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}


/* Set a style for all buttons */

button {
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: rgb(66, 63, 63);
    color: #f2f2f2;
    padding: 15px 10px;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
}

button a {
    color: white;
    text-decoration: none;
}


/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}

.logo {
    float: left;
    margin-top: 40px;
}

.logo a {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-left: 150px;
    padding-top: 22px;
    text-decoration: none;
}


/* Add padding to containers */

.container {
    max-width: 500px;
    /*padding-top: 130px;*/
    border-radius: 0;
    margin: 90px auto 120px;
    background-color: #f0f0f0;
    padding: 0 20px 20px;
    border-radius: 6px;
    /*-webkit-border-radius: 6px;
    -moz-border-radius: 6px;*/
    box-shadow: 10px 20px 50px #00000013;
    /*-webkit-box-shadow: 0 2px 5px #00000013;
    -moz-box-shadow: 0 2px 5px #00000013;*/
    text-align: center;
}


/*.form-style label {
    font-size: 1rem;
}*/

.userimage {
    border-radius: 100px;
    overflow: hidden;
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
    top: -60px;
}

.userimage img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
}


/*.userimage img:first-child {
    z-index: 1;
}*/

h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}


/*h4 {
    font-size: 13px;
    color: #00baff;
    letter-spacing: 1px;
    margin-bottom: 25px
}

p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #666;
}*/